# General
.DS_Store
Thumbs.db
*.swp
*.log
*.tmp
node_modules
/dist
/build

# Environment files
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local

# Logs and temp files
logs
*.log
tmp
temp
*.tmp

# Editor-specific files
.idea
.vscode

# Dependency managers
yarn-error.log
package-lock.json
